body {
  text-align: justify;
  width: 960px;
  margin: auto;
}

header,
footer {
  border: 0px lightgray;
  display: block;
  background: #000000;
  text-align: center;
  font-family: Angilla Tattoo Personal Use ;
  clear: both;
}

h1 {
  color: #CDA434;
  font-size: 90px;
  font-weight: regular;
  font-family: Angilla Tattoo Personal Use;
}

h2 {
  font-size: 50px;
  color: #E2E0D9;
  font-weight: lighter;
  font-family: Bebas Neue;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
  font-family: Gobold;
  color: #CDA434;
}

h4 {
  font-size: 15px;
  font-weight: lighter;
  font-family:Gobold;
  color: beige;
}
section {
  border: 1px solid black;
  width: 71%;
  display: inline_block;
  float: left;
  margin: 1px;
}

article {
  background: lightyellow;
  padding: 5px;
  margin: 10px;
  background: #000000;
  margin-bottom: 10px;
  border: 1px solid lightyellow;
}

article footer {
  padding: 10px;
  margin: 10px;
  color: black;
  background: #ffffff;
  font-family:Gobold;
  font-size: 12px;
  font-weight: lighter;
  text-align: justify;
  border: 1px solid lightblue;
}

aside {
  border: 1px solid black;
  width: 28%;
  display: inline_block;
  float: left;
  background: #000000;
  text-align: right;
  margin: 1px;
}

p {
  font-family: Gobold;
  font-weight: lighter;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  background-color: #ffffff;
}

a {
  color: #ffffff;
  padding: 5px;
  display: block;
  font-family: Bebas Neue;
}

time {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 10px;
  color: #999;
  padding: 20px;
  font-style: italic;
}


img {
  border: 2px solid black;
}

figure {
  padding: 0px;
  margin: 0px;
}

.menu {
  border: 3px solid #000000;
  font-size: medium;
  font-family: sans-serif;
  color: white;
  background: #ffffff

}

.menu li {
  padding: 10px;
  margin: 0px;
  background-color: #000000;
  display: inline-block;
  list-style: none;
  align-items: center;
  color: #E2E0D9;
  font-size: 25px;
  font-family: Bebas Neue;

}